// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "show";
@import "new";
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+BE+WAL:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Playwrite+BE+WAL:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Playwrite+BE+WAL:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Playwrite+BE+WAL:wght@100..400&display=swap');

$background-image: '/assets/bg-popcorn.jpg';
$background-theater: 'https://res.cloudinary.com/ddzvfukq6/image/upload/v1720699559/cinema4_jwxaxb.webp';

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(37, 37, 37);
}

h1 {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
    position: relative;
    color: gray;
}

.signage {
background-image: url(#{$background-theater});
background-size: cover;
background-position: center;
width: 100%;
height: 400px;
}

.sign {
position: relative;
display: flex;
justify-content: center;
align-items: center;
background-image: radial-gradient(
    ellipse 50% 35% at 50% 50%,
    #6b1839,
    transparent
);
transform: translate(-50%, -50%);
letter-spacing: normal;
left: 50%;
top: 50%;
font-family: "Clip";
text-transform: uppercase;
font-size: 4em;
color: #ffe6ff;
text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
    -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
    0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
animation: shine 2s forwards, flicker 2s infinite;

@media (min-width: 600px) {
    font-size: 4em;
}

@media (min-width: 900px) {
    font-size: 5em;
}

@media (min-width: 1200px) {
    font-size: 6em;
}
}

@keyframes shine {
0% {
    color: #6b1839;
    text-shadow: none;
}
100% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
    -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
    0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
}
}

@keyframes flicker {
from {
    opacity: 1;
}

4% {
    opacity: 0.9;
}

6% {
    opacity: 0.85;
}

8% {
    opacity: 0.95;
}

10% {
    opacity: 0.9;
}

11% {
    opacity: 0.922;
}

12% {
    opacity: 0.9;
}

14% {
    opacity: 0.95;
}

16% {
    opacity: 0.98;
}

17% {
    opacity: 0.9;
}

19% {
    opacity: 0.93;
}

20% {
    opacity: 0.99;
}

24% {
    opacity: 1;
}

26% {
    opacity: 0.94;
}

28% {
    opacity: 0.98;
}

37% {
    opacity: 0.93;
}

38% {
    opacity: 0.5;
}

39% {
    opacity: 0.96;
}

42% {
    opacity: 1;
}

44% {
    opacity: 0.97;
}

46% {
    opacity: 0.94;
}

56% {
    opacity: 0.9;
}

58% {
    opacity: 0.9;
}

60% {
    opacity: 0.99;
}

68% {
    opacity: 1;
}

70% {
    opacity: 0.9;
}

72% {
    opacity: 0.95;
}

93% {
    opacity: 0.93;
}

95% {
    opacity: 0.95;
}

97% {
    opacity: 0.93;
}

to {
    opacity: 1;
}
}

.overflow-auto {
    position: relative;
    top: -3vw;
    background-color: rgb(43, 43, 43);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 20px 0px,
    rgba(0, 0, 0, 0.5) 0px 2px 25px 0px;
}

.flip-card-container {
width: 155px; /* Adjust as needed */
height: 250px; /* Adjust as needed */
margin: 20px;

perspective: 1000px;
}

.flip-card {
width: inherit;
height: inherit;

position: relative;
transform-style: preserve-3d;
transition: .6s .1s;
}

.flip-card-container:hover .flip-card,
.flip-card-container:focus-within .flip-card {
transform: rotateY(180deg);
}

.card-front,
.card-back {
width: 100%;
height: 100%;

position: absolute;
top: 0;
left: 0;
overflow: hidden;

backface-visibility: hidden;

display: flex;
justify-content: center;
align-items: center;
}

.card-front {
background-color: rgb(34, 34, 34);
transform: rotateY(0deg);
z-index: 2;
}

.card-back {
background-color: black;
transform: rotateY(180deg);
z-index: 1;
}

.card-body {
bottom: 20px;
left: 20px;
}

.card-title {
display: none;
}

.flip-card-container:hover .card-back .card-title {
display: block;
color: white;
text-align: center;
}

.list-sign {
    font-family: "Black Han Sans", sans-serif !important;
    font-weight: 400;
    font-style: normal;
    font-size: 14vw;
    color: rgb(255, 255, 255);
}

.overflow-auto::-webkit-scrollbar {
    width: 8px;
}

.overflow-auto::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

.overflow-auto::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.carousel-caption h1 {
    color: white;
    font-size: 6rem;
}

.carousel {
    position: relative;
  }
  
  .background-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.carousel-caption .color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
}

.carousel-caption h1 {
    z-index: 3;
}
.carousel-caption p, .poster {
    z-index: 4;
}

.carousel-item {
    position: relative;
  }
  
  .carousel-caption {
    position: absolute;
    top: 20px; 
    left: 100px;
    right: 100px;
    bottom: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    color: white;
    text-align: center;
    overflow: hidden;
  }

  @media (min-width: 1200px) {
    .carousel-caption {
      display: none;
    }
  }
  
  .carousel-caption h1 {
    font-size: 4rem;
    margin-bottom: 10px;
  }
  
  .carousel-caption p {
    font-size: 1rem;
    text-align: justify;
  }
  
  .carousel-caption .poster {
    height: 400px;
    margin-right: 10px;
  }
  
  .carousel-caption .d-flex {
    margin-left: 20px;
    margin-right: 20px;
  }