$background-form: 'https://images.pexels.com/photos/375885/pexels-photo-375885.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1';

.pic {
    background-image: url(#{$background-form});
    background-size: cover;
    background-position: center;
    width: 33.33%;
    position: fixed;
    left: 0;
    height: 93%;
}

form {
    position: relative;
    padding-top: 10%;
    left: 45%;
    width: 50%;
    height: 400px;
}